<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="AppName" value ="ProUretim"/>
		<add key ="SQLServer" value ="Hamit\SQLServer"/>
		<add key ="SQLProvider" value ="SQLOLEDB"/>
		<add key ="SQLData" value ="UretimDB"/>
		<add key ="SQLUser" value ="Kullanici"/>
		<add key ="SQLSifre" value ="123456"/>
		<add key ="Dil" value ="Tr"/>
	</appSettings>
    <connectionStrings>
        <add name="ProUretim.My.MySettings.UretimConnectionString" connectionString="Data Source=KAMERA\SQLEXPRESS;Initial Catalog=Uretim;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>